*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

#main-nav{
    height: 8vh;
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-size: 25px;
}

.aboutme-text{
    margin-top: 15vh;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 10px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition : 0.6s ease;
}

ul li a:hover{
    background-color: #000;
    color: #fff;
}

ul li.active a{
    background-color: #000;
    color: #fff;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.logo{
    position: absolute;
    margin-left: 18vw;
    margin-top: 4vh;
    
}

#mynavbar{
    position: absolute;
}

#home{
    background-image: url("./../Home.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
    width:100%;
}

#aboutme{
    position: relative;
    background-image: url("./../about.jpg");
    height:100vh;
    width:100%;
    margin-right: 40vh;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.aboutme-left{
    position: relative;
    width: 30%;
    margin-top: 35vh;
    text-align: center;
    font-size: 200%;
}

.aboutme-content{
    position: relative;
    width: 70%;
    margin-right: 8vh;
}

#projects{
    background-image: url("./../project.jpg");
    position: relative;
    height:100vh;
    width:100%;
    margin-right: 40vh;
    text-align: left;
    display: flex;
    flex-direction: row;
    
}

.projects-left{
    position: relative;
    width: 30%;
    margin-top: 35vh;
    text-align: center;
    font-size: 200%;
}

.project-card{
    position: relative;
    width: 70%;
    margin-top: 20vh;
    font-weight: bold;
}
table{
    margin-right: 3vw;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

#career{
    background-image: url("./../exp.jpg");
    position: relative;
    height:100vh;
    width:100%;
    margin-right: 20vh;
    text-align: left;
    display: flex;
    flex-direction: row;
    
}
.career-left{
        position: relative;
        width: 30%;
        margin-top: 35vh;
        text-align: center;
        font-size: 200%;
}

.career-card{
    position: relative;
    width: 70%;
    margin-top: 16vh;
    font-weight: bold;
}

#contact{
    background-image: url("./../contact.jpg");
    position: relative;
    height:100vh;
    width:100%;
    margin-right: 20vh;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.contact-left{
        position: relative;
        width: 30%;
        margin-top: 35vh;
        text-align: center;
        font-size: 25px;
}

.contact-card{
    position: relative;
    width: 70%;
    margin-top: 30vh;
    
}

.connect{
    text-align: center;
    margin-left: -11vw;
    margin-top: 10vh;

}

.inputcls {
    width: 250px;
    padding: 6px;
    margin: 2px;
}

.btncls{
    width: 70px;
    padding: 6px;
    background-color: #8f8fda;
    color: white;
    border-radius: 5px;
}

.contactme-container{
    margin: 0 21vw;
}

.social{
    position: absolute;
    margin-top: 55vh;
    font-size: 160%;
    margin-left: 3vw;    
}

